.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.home-page form {
  position: sticky;
  top: 0;
  margin-top: calc(2 * var(--gap));
  background-color: var(--bg-primary);
  z-index: 1;
}

.home-page .tabs {
  background-color: var(--bg-primary);
  color: var(--text-gray);
  border: 1px solid var(--bg-gray);
  border-radius: calc(2 * calc(2 * var(--br)));
  position: sticky;
  top: 51.33px;
  margin-top: calc(3 * var(--gap));
  z-index: 1;
}

.home-page .tabs button {
  border-radius: 0 !important;
  height: 36px;
}

.home-page .tabs button[role="tab"] {
  background-color: var(--bg-primary);
}

.home-page .tabs button[data-state="active"] {
  background-color: var(--secondary-foreground);
  color: var(--secondary);
}

.home-page .tabs,
.home-page .tabs button:first-child {
  border-top-left-radius: calc(2 * var(--br)) !important;
  border-bottom-left-radius: calc(2 * var(--br)) !important;
}

.home-page .tabs,
.home-page .tabs button:last-child {
  border-top-right-radius: calc(2 * var(--br)) !important;
  border-bottom-right-radius: calc(2 * var(--br)) !important;
}

.home-page .tabs div[role="tablist"] {
  padding: 0;
  border-radius: inherit;
}

.home-page .travel {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--gap));
  margin-top: calc(2 * var(--gap));
}

.home-page .loader {
  max-height: 10rem;
}

.home-page .tabs {
  width: 100%;
  max-width: 273.36px;
  margin: 0 auto;
  margin-top: calc(3 * var(--gap));
}

.home-page .tabs button,
.home-page .tabs div[role="tablist"] {
  width: 100%;
}

@media (max-width: 768px) {
  .home-page .tabs {
    max-width: 294.36px;
  }
}
