.travel-card {
  display: flex;
  width: 100%;
  border-radius: var(--br);
}

.travel-card img {
  max-width: 20rem;
  height: auto;
  border-top-left-radius: var(--br);
  border-bottom-left-radius: var(--br);
}

.travel-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: var(--gap) calc(2 * var(--gap));
}

.travel-content footer {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
  margin-top: var(--gap);
}

.travel-content footer button:first-child {
  margin-right: var(--gap);
}

.travel-content h2 {
  font-size: 1.2rem;
  margin-bottom: var(--gap);
}

.travel-content p {
  font-weight: 100;
}

.travel-content button {
  text-decoration: underline;
}

.travel-content button.delete {
  color: red;
}

@media (max-width: 768px) {
  .travel-card {
    flex-direction: column;
  }

  .travel-card img {
    max-height: 10rem;
    aspect-ratio: 1;
    border-radius: var(--br);
    max-width: unset;
    object-fit: cover;
  }

  .travel-content {
    padding-left: 0;
  }
}
